* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url("content/fondo.jpg");
  }
  
  .form-register {
    width:800px;
    height: 650px;
    background: #050000  ;
    padding: 80px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.5);
  }
  
  .form-register h3 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .controls {
    width: 100%;
    background: #050000   ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid blue;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {

    height: 40px;
    text-align: center;
    font-size: 15px;
  }
  
  .form-register a{
    font-size: 15px;
    color: white;
    text-decoration: underline;
  }
  
  .form-register .bottons{
    text-align: center;
    width: 100%;
    background-color: blue;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  